* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

:root {
  /* Neutral */
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  /* Red */
  /* --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%); */

  /* Gradients */
  /* --Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%); */

  /* font-weights */
  --weight-one: 400;
  --weight-two: 500;
  --weight-three: 700;

  --body-background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);

  --background-one: hsl(200, 60%, 99%);
  --border-color: hsl(0, 0%, 78%);
  --text-color: hsl(227, 75%, 14%);
  --description-color: hsl(226, 11%, 37%);
  --slider-background: hsl(0, 0%, 78%);
  --slider-background-after: hsl(3, 77%, 44%);
  --btn-hover: hsl(3, 77%, 44%);
  --btn-hover-text: hsl(0, 0%, 93%);
  --focus-border: hsl(0, 0%, 93%);
  --focus-shadow: hsl(3, 71%, 56%);
  --btn-focus-background: hsl(0, 0%, 78%);
  --logo: invert(0%);
  --image-span: hsl(0, 0%, 93%);
  --image-span-hover: hsl(0, 0%, 78%);
}

[data-theme="dark"] {
  --body-background: linear-gradient(180deg, #040918 0%, #091540 100%);
  --background-one: hsl(226, 25%, 17%);

  --border-color: hsl(226, 11%, 37%);
  --text-color: hsl(0, 0%, 93%);
  --description-color: hsl(0, 0%, 78%);
  --slider-background: hsl(226, 11%, 37%);
  --slider-background-after: hsl(3, 86%, 64%);
  --btn-hover: hsl(3, 86%, 64%);
  --btn-hover-text: hsl(227, 75%, 14%);
  --focus-border: hsl(227, 75%, 14%);
  --focus-shadow: hsl(3, 71%, 56%);
  --btn-focus-background: hsl(225, 23%, 24%);
  --logo: invert(100%);
  --image-span: hsl(225, 23%, 24%);
  --image-span-hover: hsl(226, 11%, 37%);
}

body {
  background-image: var(--body-background);
  background-size: cover;
  min-height: 100dvh;
  color: var(--text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  /* margin: 0; */
}

.cover-div {
  margin: 10px;
}

.header {
  background-color: var(--background-one);
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  filter: var(--logo);
}

.color-scheme {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--image-span);
}

.custom-checkbox:hover {
  background-color: var(--image-span-hover);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: max-content;
}

.nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav .nav-list li {
  padding: 0;
}

.nav .nav-list a {
  border-radius: 16px;
  padding: 10px 15px;
  background-color: var(--background-one);
}

.nav .nav-list a:hover {
  filter: brightness(1.4);
}

.nav .nav-list .inactive {
  border: 1px solid var(--border-color);
}

.nav .nav-list .active {
  background-color: var(--btn-hover);
  color: var(--btn-hover-text);
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
  border-radius: 10px;
  background-color: var(--background-one);
  border: solid 1px var(--border-color);
}

.item-top-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item-description {
  color: var(--description-color);
}

.item-bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-top-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove-btn {
  border-radius: 16px;
  padding: 10px 15px;
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
}

.remove-btn:hover {
  background-color: var(--btn-hover);
  color: var(--btn-hover-text);
  border: 1px solid var(--btn-hover);
}

.remove-btn:focus,
.nav .nav-list a:focus {
  border: 2px solid var(--focus-border);
  box-shadow: 0 0 0 2px var(--focus-shadow);
}

.remove-btn:focus {
  background-color: var(--btn-focus-background);
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 2px;
  right: 0;
  bottom: 0;
  background-color: var(--slider-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--slider-background-after);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (width > 500px) {
  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
}

@media (width > 768px) {
  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }

  .nav {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (width > 1024px) {
  .cover-div {
    margin-inline: 70px;
    margin-top: 30px;
  }
}
