* {
  box-sizing: border-box;
}
:root {
  /* Neutral */
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  /* Red */
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  --weight-one: 400;
  --weight-two: 500;
  --weight-three: 700;
}

body {
  background-image: var(--Dark-Gradient);
  background-size: cover;
  min-height: 100dvh;
  color: var(--Neutral-100);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: var(--Neutral-700);
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

nav .nav-list li {
  padding: 0;
}

nav .nav-list a {
  border-radius: 16px;
  padding: 10px 15px;
}

nav .nav-list .inactive {
  border: 1px solid var(--Neutral-200);
  color: var(--Neutral-100);
}

nav .nav-list .active {
  background-color: var(--Red-500);
  color: var(--Neutral-900);
}

.all-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (width > 500px) {
  .all-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
}

@media (width > 768px) {
  .all-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Neutral-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
